body {
  background-image: url('../../images/brownhome.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  z-index: -2;
}
