.listing {
	min-height: 50rem;
	width: 100vw;
	max-width: 100%;
	/* display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center; */
	display: grid;
	grid-row-gap: 2rem;
	grid-template-areas:
		". image image ."
		". name cat ."
		" . booking booking ."
		". info info ."
		" . desc desc ."
		" . createReview createReview ."
		". amenities reviews .";
	justify-items: center;
}

.listing-img {
	grid-area: image;
	max-width: 70vw;
	height: auto;
	box-shadow: var(--boxshadow);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.listing-name {
	grid-area: name;
}

.listing-cat {
	grid-area: cat;
}

.listing-info {
	grid-area: info;
	width: 20rem;
	display: flex;
	justify-content: space-between;
}

.listing-desc {
	grid-area: desc;
}

.listing-amenities {
	grid-area: amenities;
}

.listing-buttons {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.reviews {
	grid-area: reviews;
}

.createReview {
	grid-area: createReview;
}
.listing-info-svg {
	height: 1.8rem;
}

.listing-book {
	grid-area: booking;
}
