body {
  text: white;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-bottom: hsla(192, 16%, 22%, 0.36);
  border-bottom-style: solid;
}

.Logo {
  margin-left: 20px;
  display: flex;
  align-content: flex-start;
  color: white;
  width: 80px;
}

.rightCorner {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: white;
  margin-right: 10px;
}
