/* Intro Section */

.front {
	position: absolute;
	width: 100vw;
	margin-top: -8rem;
	max-width: 100%;
	z-index: -1;
}

.hero {
	background-image: url("https://source.unsplash.com/weekly?hotel");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	width: auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.booking {
	max-width: 30rem;
	background-color: rgba(255, 255, 255, 0.8);
	background: blur(1rem);
	box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px;
	border-radius: 5px;
	padding: 2rem 3rem;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
