
.Navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
  width: 99vw;
  padding-bottom: 1rem;
	z-index: 10;
}

.link--logo {
  width: 2.5rem;
  align-self: flex-end;
}

.Logo {
	color: #fff;
	width: 100%;
	cursor: pointer;
}

.rightCorner {
	width: 60%;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	color: #fff;
	list-style: none;
}

.nav-link {
	font-size: 1.6rem;
	text-decoration: none;
	color: #1b1b1b;
	margin-right: 1rem;
}